/*
 *Name: Tate Smart
 *UnityID: tmsmart
 *Date: 9/24/21
 *Assignment: Independent Assignment 5
 *Description: [Assignment Description]
 */
 
p {
    font-family: Times;
    font-size: 16px;
    color: #FFFFFF;
}

.table-border {
    border: 1 px solid #FFFFFF;
}

#id {
    property:value;
}
